/* General Navbar Styling */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121212; /* Dark background */
  height: 4rem;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 2rem;
  z-index: 1000; /* Ensure it stays above other content */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.logo a {
  color: #f0f0f0; /* Light text color */
  font-size: 1.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.logo a .logoinner {
  color: #ff6a00; /* Accent color for inner logo text */
  font-weight: bold; /* Increase font weight for emphasis */
}
/* Styling for Search Container in .navright */
.navright {
  display: flex;
  align-items: center;
}

.searchsong {
  position: relative;
}

.searchsong input[type="text"] {
  display: block;
  padding: 0.6rem;
  padding-right: 3rem;
  width: 0; /* Adjust width as needed */
  height: 2.4rem; /* Adjust height as needed */
  border: none;
  border-radius: 1.5rem; /* Rounded corners */
  font-size: 1.2rem;
  background-color: #f0f0f0; /* Light background */
  color: #333; /* Text color */
  outline: none;
  transition: all 0.3s, box-shadow 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  opacity: 0;
  visibility: hidden;
}

.searchsong input[type="text"]:focus {
  background-color: #fff; /* Lighten background on focus */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2); /* Add subtle shadow on focus */
}

.searchsong .searchicon {
  position: absolute;
  right: 0.8rem; /* Adjust position as needed */
  top: 50%;
  transform: translateY(-50%);
  color: #666; /* Icon color */
  cursor: pointer;
  transition: color 0.3s;
}

.searchsong .searchicon:hover {
  color: #333; /* Darken icon color on hover */
}

.searchsong.sbar input {
  width: calc(12rem + 3vw); /* Expanded width */
  /* padding: 0.5rem 1rem; Adjust padding for expanded input */
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    height: auto;
    padding: 1rem;
  }

  .logo {
    margin-bottom: 1rem;
  }

  .navright {
    flex-direction: column;
    gap: 0.5rem;
  }

  .searchsong input.sbar {
    width: calc(100% - 4rem); /* Adjust width for smaller screens */
    padding: 0.5rem 1rem; /* Adjust padding for expanded input */
  }
}
