nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 4rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  border: none;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, orange, darkorchid) 1;
  padding: 0 2rem;
}
.logo span a {
  height: 2rem;
  width: auto;
  background-color: black;
  display: inline-block;
  text-decoration: none;
  color: orange;
  font-size: 2rem;
}
.logo span a img {
  height: 3rem;
  object-fit: cover;
}

.navright {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 3rem;
  gap: 1rem;
}
.navright:last-child {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navright .searchsong {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  color: #fff;
  padding: 1.2rem;
  border: 2px solid white;
  border-radius: 50%;
  background-color: rgb(203, 132, 2);
}

.searchsong a {
  color: #fff;
  text-decoration: none;
}
.searchsong input {
  border-radius: 1.5vw;
  width: 10rem;
  height: 2rem;
  padding-left: 0.5vw;
  background-color: black;
  border: 2px solid white;
  outline: none;
  caret-color: #fff;
  color: #fff;
  font-size: 1rem;
}

.searchsong {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1vw;
  color: #fff;
  > input {
    display: none;
  }
}

.navright .searchicon:active {
  transition: all;
  transition-duration: 0.3s;
  font-size: 0.9rem;
}
.searchsong.sbar {
  background-color: transparent;
  border: none;
  width: 10rem;
  position: fixed;
  right: 4rem;
  > input {
    display: flex;
  }
}

.searchicon.sbar {
  border: none;
}
.searchicon.sbar:active,
.searchicon.sbar {
  background-color: transparent;
}
@media screen and (max-width: 600px) {
  .navright:last-child,
  .searchsong {
    font-size: 1.2rem;
  }
  .searchsong {
    flex-direction: column-reverse;
    justify-content: end;
    align-items: end;
    display: none;
  }
  .searchsong.sbar {
    right: 0;

    align-items: end;
  }
  .navright,
  .navright .searchicon {
    align-items: end;
    /* justify-content: end; */
  }
}
